* {
  font-size: calc(6px + 2vmin);
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.App {
  background: #141414;
}
.FlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}
.FlexColumn {
  display: flex;
  flex-direction: column;
}
.MainTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: #d59626;
  line-height: 1.2;
}
.SubTitle {
  font-size: 2.5rem;
  color: white;
  line-height: 1.2;
}
.SectionTitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
.SmText {
  font-size: calc(4px + 2vmin);
  color: #717375;
}
.WhiteText {
  font-size: 0.8rem;
  color: white;
}
.Btn {
  cursor: pointer;
  height: 2.2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.2rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
}
.Btn span {
  font-size: 0.8rem;
}
.BtnIconGlass {
  background: rgba(255, 255, 255, 0.3);
  width: 2.2rem;
  border-radius: 50%;
}
.BtnIcon {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnIconTech {
  background: rgba(255, 255, 255, 0.1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.BtnIconTech2 {
  width: 2rem;
  height: 2rem;
  background: white;
}
.BtnExpand {
  cursor: pointer;
}
.IconExpand {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}
/* Header ---------------------------------------------------- */
.Header {
  z-index: 3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Header .Logo {
  font-weight: bold !important;
  font-size: 1.2rem !important;
  color: #d59626 !important;
}
.Header .HeaderItem {
  cursor: pointer;
  color: white !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}
.Header .BtnContactMe {
  background: #389e0d;
  padding: 0 1rem 0 1rem;
}
/* Home ---------------------------------------------------- */
.Home {
  z-index: 3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.BtnCV {
  width: 8rem;
  background: #722ed1;
  background: #389e0d;
}
.Home .Section1 {
  /* background: rgba(255, 255, 255, 0.05); */
}
.Home .Section2 {
  /* background: rgba(255, 255, 255, 0.05); */
  border-radius: 10px;
  /* border-radius: 28% 72% 26% 74% / 52% 51% 49% 48%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Section2 .ImgMeBorder {
  position: relative;
  width: 50%;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 57% 43% 30% 70% / 60% 60% 40% 40%;
  background: rgba(255, 255, 255, 0.05);
  background: #d59626;
}
.Home .Section2 .ImgMeBorder img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Projects ---------------------------------------------------- */
.ProjectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
/* ProjectCard -------------------------------------------------- */
.ProjectCard {
  cursor: pointer;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.ProjectCard .ProjectCardImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.ProjectCard .CardTitle {
  color: white;
  font-size: 1.2rem;
}
.ProjectCard .CardDes {
  /* color: white; */
}
/* Infos ----------------------------------------------------- */
.Infos .Section2 {
  overflow-x: scroll;
}

/* Footer ---------------------------------------------------- */
.Footer .TextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Bubbles */
.App .GlassSection {
  position: relative;
}
.App .GlassSection .Glass {
  position: relative;
  z-index: 2;
  /* background: rgba(255, 255, 255, 0.05); */
  backdrop-filter: blur(2rem);
}
.Bubble {
  z-index: 1;
  background-color: white;
  position: absolute;
  width: 12vmin;
  height: 12vmin;
  border-radius: 50%;
}
.Bubble1 {
  top: 25%;
  left: 60%;
  width: 13vmin;
  height: 13vmin;
  background: #389e0d;
  /* background: white; */
}
.Bubble2 {
  top: 70%;
  left: 50%;
  width: 15vmin;
  height: 15vmin;
  background: #ad6800;
  /* background: white; */
}
.Bubble3 {
  top: 20%;
  right: 10%;
  width: 18vmin;
  height: 18vmin;
  background: #722ed1;
}
.Bubble4 {
  bottom: 20%;
  right: 10%;
  width: 10vmin;
  height: 10vmin;
  /* background: rgba(255, 255, 255, 0.7); */
  background: white;
}

.Bubble5 {
  bottom: 10%;
  right: 30%;
  width: 8vmin;
  height: 8vmin;
  /* background: rgba(255, 255, 255, 0.7); */
  background: white;
}
@media screen and (max-width: 992px) {
  .App .GlassSection .Glass {
    backdrop-filter: unset;
  }
  .Bubble {
    display: none;
  }
}
